* {
    padding: 0;
    margin: 0;
    border: 0;
}
.instagram {
    width: 1024px;
    margin: 30px auto;
}
.instagram .post {
    display: inline-block;
    width: 318px;
    height: 318px;
    margin: 10px;
    background-color: #000;
    text-decoration: none;
    position: relative;
}
.instagram .post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all 0.3s;
}
.instagram .post .overlay {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all 0.4s;
}
.instagram .post:hover img {
    opacity: 0.2;
}
.instagram .post:hover .overlay {
    opacity: 1;
}

/** Exercício responsivo **/
@media (min-width:767px) and (max-width: 992px) {
    header {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    header a {
        color: #AAA;
    }
    .container {
        width: 90%;
        position: relative;
        margin: 0 auto;
    }
    header .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .profile {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .profile .details {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Nunito', sans-serif;
    }
    .profile .details img {
        width: 128px;
        height: 128px;
        border-radius: 100%;
        border: 3px solid #EEE;
    }
    .profile .details h3 {
        color: #89379a;
        margin: 15px 0;
    }
    .profile .details a {
        color: #89379a;
        border: 2px solid #89379a;
        border-radius: 30px;
        padding: 6px 30px;
        text-decoration: none;
    }
    .navigation {
        width: 100%;
        margin-bottom: 40px;
    }
    .navigation a {
        display: block;
        font-family: 'Nunito', sans-serif;
        color: #89379a;
        background-color: #F8F8F8;
        width: 100%;
        padding: 15px 0;
        text-decoration: none;
        border-bottom: 1px solid #EEE;
    }
    .navigation a .container {
        transition: all 0.3s;
    }
    .navigation a:hover .container {
        padding-left: 30px;
    }
    .fixed_navigation {
        width: 100%;
        height: 40px;
        position: fixed;
        left:0;
        bottom:0;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #FFF;
        transition: all 0.3s;
    }
    .fixed_navigation a {
        color: #AAA;
        transition: all 0.4s;
    }
    .fixed_navigation:hover {
        height: 90px;
        background-color: #89379a;
    }
    .fixed_navigation:hover a {
        color: #fff;
    }
}

@media (max-width:480px) {
    header {width: 100%;height: 50px;display: flex;flex-direction: row;justify-content: center;}
    header a {color: #AAA;}
    header .container {display: flex;flex-direction: row;justify-content: space-between;align-items: center;}
    .container {
        width: 90%;
        position: relative;
        margin: 0 auto;
    }
    .profile {
        width: 100%;
        padding: 30px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .profile .details {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Nunito', sans-serif;
    }
    .profile .details img {
        width: 128px;
        height: 128px;
        border-radius: 100%;
        border: 3px solid #EEE;
    }
    .profile .details h3 {
        color: #89379a;
        margin: 15px 0;
    }
    .profile .details a {
        color: #89379a;
        border: 2px solid #89379a;
        border-radius: 30px;
        padding: 6px 30px;
        text-decoration: none;
    }
    .navigation {
        width: 100%;
        margin-bottom: 40px;
    }
    .navigation a {
        display: block;
        font-family: 'Nunito', sans-serif;
        color: #89379a;
        background-color: #F8F8F8;
        width: 100%;
        padding: 15px 0;
        text-decoration: none;
        border-bottom: 1px solid #EEE;
    }
    .navigation a .container {
        transition: all 0.3s;
    }
    .navigation a:hover .container {
        padding-left: 30px;
    }
    .fixed_navigation {
        width: 100%;
        height: 40px;
        position: fixed;
        left:0;
        bottom:0;
        z-index: 10;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #FFF;
        transition: all 0.3s;
    }
    .fixed_navigation a {
        color: #AAA;
        transition: all 0.4s;
    }
    .fixed_navigation:hover {
        height: 90px;
        background-color: #89379a;
    }
    .fixed_navigation:hover a {
        color: #fff;
    }
}

